html {
    background-color: red;
}
body {
    display: block;
    width: 400px; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
  

}
#options {
    margin-bottom: 6px;
    width: 400px;
}

p {
    font-weight: 500;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

#display {
    width: 400px;
    margin-top: 6px;
    display: inline-block;
    background-color:white;
}
#display p{
    font-size: 100px !important;

}
button:focus {
    outline:none;
}


#options h2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img:hover {
    opacity: 1;
    
}



.up {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../Pomodoro/images/arrow-up.png') no-repeat center;
    background-size: 40px;
    opacity: 0.5;
}

.up:hover {
    opacity:1;
}

.down {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../Pomodoro/images/arrow-down.png') no-repeat center;
    background-size: 40px;
    opacity: 0.5;
}

.down:hover {
    opacity:1;
}





#work {
    display: inline-block;
    margin-right: 2%;
    width: 100px;
    background-color:white;
    border-radius: 20px 20px 20px 20px;

}
#break {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 100px;
    background-color:white;
    border-radius: 20px 20px 20px 20px;
}
#play{
    float: left;
    margin-top:20px;
    margin-left:50px;
}
.play-btn {

    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 60px;
    
  
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 30px 0 30px 60px;
}
   
.play-btn.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
    margin-top: 30px;
}
  
.play-btn:hover {
    border-color: transparent transparent transparent #000000;
}
#reset{
    float: right;
    margin-top:20px;
    margin-right:50px;
}
.reset-btn {
    transition: 1s all ease;
    background: url(../Pomodoro/images/reset.png) no-repeat center;
    background-size: 70px;
    opacity: .7;
    width: 70px;
    height: 70px;
    border: none;
}
.reset-btn:hover{
    opacity: 1;
}
.reset-clicked {
    transform: rotate(360deg);
}







